Repository handwired/review-bot-test, changes with the owners that CODEOWNERS names for each.
All owners: @christinebrass, @handwired/team-a, @handwired/team-b, @handwired/team-c

Change
  b.md
Owners: @handwired/team-b

Revert b changes
  b.md
Owners: @handwired/team-b

remove change
  c.md
Owners: @handwired/team-c

Update.
  c.md
Owners: @handwired/team-c

Update.
  b.md
Owners: @handwired/team-b

update
  b.md
Owners: @handwired/team-b

change
  c.md
Owners: @handwired/team-c

test
  c.md
Owners: @handwired/team-c

change
  b.md
Owners: @handwired/team-b

change
  c.md
Owners: @handwired/team-c

Update.
  b.md
Owners: @handwired/team-b

Update.
  c.md
Owners: @handwired/team-c

add a change for file b
  b.md
Owners: @handwired/team-b

add a change for file a
  a.md
Owners: @handwired/team-a

Update.
  c.md
Owners: @handwired/team-c

Update.
  c.md
Owners: @handwired/team-c

Update.
  c.md
Owners: @handwired/team-c

Update.
  c.md
Owners: @handwired/team-c

Update.
  c.md
Owners: @handwired/team-c

Update.
  c.md
Owners: @handwired/team-c

Update.
  c.md
Owners: @handwired/team-c

Reset c.md
  c.md
Owners: @handwired/team-c

Update.
  b.md
Owners: @handwired/team-b

Update.
  b.md
Owners: @handwired/team-b

Update.
  a.md
Owners: @handwired/team-a

Update.
  a.md
Owners: @handwired/team-a

Update.
  a.md
  b.md
  c.md
Owners: @handwired/team-a, @handwired/team-b, @handwired/team-c

Update.
  a.md
Owners: @handwired/team-a

Update.
  c.md
Owners: @handwired/team-c

Update.
  c.md
Owners: @handwired/team-c

Update.
  c.md
Owners: @handwired/team-c

Revert changes for c.
  c.md
Owners: @handwired/team-c

Update.
  c.md
Owners: @handwired/team-c

Reset c.md
  c.md
Owners: @handwired/team-c

CODEOWNERS:

README.md @christinebrass
a.md @handwired/team-a
b.md @handwired/team-b
c.md @handwired/team-c
